.header__top {
    background-color: #f5f5f5;
}

.header__top_left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
        }

        span {
            font-size: 14px;
            margin-left: 2px;
        }
    }
}

.header__top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
        }

        span {
            font-size: 14px;
            margin-left: 2px;
        }
    }
}
.header__LOGO{
 padding: 15px 0;

}
.header__menu{
    padding :24px 0;

    ul{
        display:flex ;
        justify-content: space-between;

    li{
        list-style: none;
        position: relative;
    }
        a{
            text-decoration: none;
            font-size: 14px;
            color: black;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            transition : all 0.3s;
            padding :5px 0;
            display: block;
        }

        .active a {
            color : brown;
        }
    }
    li:hover .header__menu__dropdown{
        opacity: 1;
        visibility: visible;
    }
}
.header__menu__dropdown{
    background-color: #222222;
    display: block;
    position: absolute;
    width :180px;
    z-index: 9;
    padding :5px 0;
    transition: all,0.3s;
    opacity: 0;
    visibility: hidden;
     
    li{ a{
             text-transform: capitalize;
        color:#ffffff;
        font-weight: 400;
        padding: 5px,15px;
    }   
    :hover{
        color: yellow
    }
    }


}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: blue;

    ul {
        display: flex;
        position: relative;
        margin-left: 20px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
            }
            span{
                color: white;
                position: relative;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align:center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                right: 20px;
                top:    6px;
            }
        }


    }
}